<nav class="pagination" *ngIf="maxPage > 1">
    <!-- <button (click)="onPreviousPage()" [disabled]="currentPage === 1">&lt;</button> -->
  
    <ul>
        <li *ngFor="let page of getArrayOfPages()">
            <a [routerLink]="[]" 
               [queryParams]="getPageQueryParam(page)"
               [class.active]="currentPage === page">
                {{ page }}
            </a>
        </li>
    </ul>
<!-- 
    <button (click)="onNextPage()" [disabled]="currentPage === maxPage">&gt;</button> -->
</nav>